<section class="container" *ngIf="rss == 'enclosure'">
  <h1 class="container__title"> {{article?.title}}</h1>
  <div class="container__rss">

    <img [attr.src]="article.enclosure[0]?.$?.url" alt="">
    <p class="container__rss--desc"> {{article?.description}}</p>
  </div>
  <div class="container__info">
    <a [attr.href]="article.link" target="_blank" class="container__info--author">Link to original</a>
    <p class="container__info--date">{{article.pubDate | date: 'MMM d, y, h:mm:ss a'}}</p>
  </div>
  <button class="container__button" (click)="location.back()">Back</button>
</section>



<section class="container" *ngIf="rss == 'dc:creator'">
  <h1 class="container__title"> {{article?.title}}</h1>
  <div class="container__rss">

    <!-- <img [attr.src]="article.enclosure[0]?.$?.url" alt=""> -->
    <p class="container__rss--desc" [innerHTML]="article?.description"></p>
  </div>
  <div class="container__info">
    <a [attr.href]="article.link" target="_blank" class="container__info--author">Link to original</a>

    <p class="container__info--author">{{article["dc:creator"]}}</p>

    <p class="container__info--date">{{article.pubDate | date: 'MMM d, y, h:mm:ss a'}}</p>
  </div>
  <button class="container__button" (click)="location.back()">Back</button>




  <!-- 
  <div class="container__rss">
    <div class="container__rss--news">

      <p class="title"> {{article?.title}}</p>
      <div class="info">
        <p class="info__author">{{article["dc:creator"]}}</p>
        <p class="info__date">{{article.pubDate | date: 'MMM d, y, h:mm:ss a'}}</p>
      </div>
      <button class="button">Details</button>

    </div>
  </div> -->

</section>
<section class="container" *ngIf="rss == 'author'">
  <h1 class="container__title"> {{article?.title}}</h1>
  <div class="container__rss">

    <!-- <img [attr.src]="article.enclosure[0]?.$?.url" alt=""> -->
    <p class="container__rss--desc" [innerHTML]="article?.content[0]['_']"></p>
  </div>
  <div class="container__info">
    <!-- <a [attr.href]="article.link" target="_blank" class="container__info--author">Link to original</a> -->
    <p class="container__info--author" [innerHTML]="article.author[0].name"></p>

    <p class="container__info--date">{{article.updated[0] | date: 'MMM d, y, h:mm:ss a'}}</p>
  </div>
  <button class="container__button" (click)="location.back()">Back</button>






  <!-- <div class="container__feed">
    <img [attr.src]="item.enclosure[0].$.url" alt="">
    <p class="container__feed--title"> {{article.title}}</p>
    <div class="container__feed--info">
      <p class="author" [innerHTML]="article.author[0].name"></p>
      <p class="datу">{{article.updated[0] | date: 'MMM d, y, h:mm:ss a'}}</p>
    </div>
    <button class="container__feed--button" >Details</button>

  </div> -->
</section>
