<div class="container">
    <h2 class="container__signIn">Sign In</h2>
    <div class="container__form">
      <label for="clubNumber">Email</label>
      <label for="password">Password</label>
      <input type="text" [(ngModel)]="inputUser" (input)="regCheck()" [style.borderColor]="regCheck() ? 'green' : 'red'"
        name="inputUser" id="clubNumber" placeholder="Please enter your club email">
      
      <input type="password" [(ngModel)]="inputPass" (input)="regCheckPass()"
        [style.borderColor]="regCheckPass() ? 'green' : 'red'" name="inputPass" id="password"
        placeholder="Please enter your password">
    </div>
    <div class="container__logIn">
      <button class="container__logIn--button" (click)="signIN()" >Sign In</button>
    </div>
</div>


